.status {
    border-width:4px !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%; 
  display: grid;
}

.pagina100{
  height: 100vh;
  overflow: hidden;
  position: relative;
}

p {
  word-wrap: break-word;
}

.lista {
  height: calc(100vh - 343px);
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .lista {
    height: calc(100% - 371px);
    overflow-y: scroll;
  }
}

@media only screen and (max-height: 600px) {
  .pagina100 {
    overflow-y: auto;
    height: auto;
  }

  .lista {
    height: auto;
  }
}

@media only screen and (max-width: 407px) {
  .lista {
    height: calc(100% - 417px);
    overflow-y: scroll;
  }
}

.paginaContatos {
  height: calc(100vh - 61px);
}

.imgperfil:hover{
  cursor: pointer;
}

.aligncentro{
  display: flex;
  align-items: center;
}

.contatoConversa{
  height: calc(100vh - 60px);
}

.contatos:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

.mensagens{
  position: relative;
}

textarea{
  resize: none;
}

.campoMensagem{
  position: absolute;
  width: 100%;
  bottom: auto;
}

.conversas{
  margin: auto;
}

.listaMensagens{
  height: calc(100vh - 300px);
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.login {
  margin: auto;
  height: 100%;
  max-width: 450px;
  font-size: 18px;
}

.login input[type="email"]{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login input[type="password"]{
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login button{
  height: auto;
}

#imagem{
  visibility: hidden;
  width: 0;
  height: 0;
}

.pagina100 footer {
  position: relative;
}