.status {
    border-width:4px !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%; 
  display: grid;
}

p {
  word-wrap: break-word;
}

.lista {
  height: 47vh;
  overflow: scroll;
}

.listaConversa {
  height: 65vh;
  overflow: scroll;
}

.imgperfil:hover{
  cursor: pointer;
}

.aligncentro{
  display: flex;
  align-items: center;
}

.contatos:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

.mensagens{
  position: relative;
}

textarea{
  resize: none;
}

.campoMensagem{
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.conversas{
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.login {
  margin: auto;
  height: 100%;
  max-width: 450px;
  font-size: 18px;
}

.login input[type="email"]{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login input[type="password"]{
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login button{
  height: auto;
}